@font-face {
  font-family: Nimbus-Sans;
  src: url(../fonts/nimbus-sans-d-ot-light_32752.ttf); }

body {
  font-family: "Roboto", sansserif;
  font-weight: 500; }

#bootstrap-overrides .hero {
  height: 100vh; }
  #bootstrap-overrides .hero header .navbar-toggler-icon {
    background-image: url(../img/menu.svg); }
  #bootstrap-overrides .hero header .navbar-nav {
    padding: 2.5rem 0; }
    #bootstrap-overrides .hero header .navbar-nav .nav-link {
      color: #262A2F;
      padding: 0 20px; }
    #bootstrap-overrides .hero header .navbar-nav .btn {
      background-color: #F2707C;
      font-weight: 500;
      color: #FFFFFF;
      border-radius: 4px;
      margin-left: 1.25rem; }
  #bootstrap-overrides .hero .main-container {
    height: 83.6vh; }
    #bootstrap-overrides .hero .main-container .row {
      height: inherit; }
      #bootstrap-overrides .hero .main-container .row .text h1 {
        font-size: 48px;
        line-height: 62.4px; }
      #bootstrap-overrides .hero .main-container .row .text p {
        width: 496px;
        font-size: 20px;
        line-height: 30px;
        font-weight: 400; }
      #bootstrap-overrides .hero .main-container .row .text .btn {
        background-color: #F2707C;
        padding: 8px 40px;
        border-radius: 30px;
        color: #FFFFFF;
        font-weight: 500;
        font-size: 18px; }

#bootstrap-overrides .step1-container {
  font-family: Nimbus-Sans;
  background: #8E7CB5;
  color: #FFFFFF; }
  #bootstrap-overrides .step1-container .desktop {
    height: 392px; }
    #bootstrap-overrides .step1-container .desktop .row {
      height: inherit; }
      #bootstrap-overrides .step1-container .desktop .row h2 {
        width: 599px;
        font-size: 40px;
        line-height: 56px;
        margin-top: 93px;
        font-weight: 600; }
      #bootstrap-overrides .step1-container .desktop .row .desc {
        font-size: 16px;
        width: 492px;
        font-weight: 400;
        line-height: 24px; }
        #bootstrap-overrides .step1-container .desktop .row .desc .start-btn-white a {
          font-weight: 500;
          font-size: 20px;
          line-height: 30px;
          color: #FFFFFF;
          padding-right: 1rem; }
        #bootstrap-overrides .step1-container .desktop .row .desc .start-btn-white img {
          vertical-align: unset; }

#bootstrap-overrides .step2-container {
  background-image: linear-gradient(to right, #bfe1fe 50%, transparent 50%); }
  #bootstrap-overrides .step2-container .desktop .form-desc {
    width: 496px; }
    #bootstrap-overrides .step2-container .desktop .form-desc h2 {
      font-size: 40px;
      line-height: 60px;
      margin: 1rem 0; }
    #bootstrap-overrides .step2-container .desktop .form-desc p {
      width: 394px;
      font-size: 24px;
      line-height: 36px;
      font-weight: 400; }

#bootstrap-overrides .rewards-container {
  background: #FFE4E7; }
  #bootstrap-overrides .rewards-container .row {
    height: 608px; }
    #bootstrap-overrides .rewards-container .row .rewards-text h3 {
      font-size: 40px;
      line-height: 60px; }
    #bootstrap-overrides .rewards-container .row .rewards-text p {
      font-size: 24px;
      line-height: 36px;
      font-weight: 400; }
    #bootstrap-overrides .rewards-container .row .slideshow .center {
      padding: 40px 0; }
      #bootstrap-overrides .rewards-container .row .slideshow .center .slick-list {
        width: 100%;
        max-width: 600px;
        margin: 0 auto; }
        #bootstrap-overrides .rewards-container .row .slideshow .center .slick-list .slick-slide {
          transition: transform 0.5s ease-in-out;
          margin: 0 auto; }
          #bootstrap-overrides .rewards-container .row .slideshow .center .slick-list .slick-slide[aria-hidden="true"] {
            transform: scale(0.9); }
          #bootstrap-overrides .rewards-container .row .slideshow .center .slick-list .slick-slide:focus {
            outline: none; }

#bootstrap-overrides .styles-container {
  background: #F7F3FF;
  padding: 70px 0; }
  #bootstrap-overrides .styles-container .row .carousel-indicators {
    position: initial;
    justify-content: center;
    margin-top: 59px;
    margin-bottom: 0; }
    #bootstrap-overrides .styles-container .row .carousel-indicators button {
      width: 68px;
      height: 41px;
      opacity: 1;
      margin-right: 40px;
      padding: 3.3px;
      border: 1px solid transparent;
      background: #F7F3FF;
      border-radius: 3px; }
      #bootstrap-overrides .styles-container .row .carousel-indicators button img {
        float: left; }
      #bootstrap-overrides .styles-container .row .carousel-indicators button.active {
        border: 1px solid rgba(0, 0, 0, 0.6); }
  #bootstrap-overrides .styles-container .row .select-style-text {
    width: 495px; }
    #bootstrap-overrides .styles-container .row .select-style-text h3 {
      margin: 1rem 0;
      font-size: 40px;
      line-height: 60px; }
    #bootstrap-overrides .styles-container .row .select-style-text p {
      font-size: 24px;
      line-height: 36px;
      font-weight: 400; }

#bootstrap-overrides .mobile-container {
  font-family: Nimbus-Sans; }

#bootstrap-overrides .faq-container {
  max-width: 808px;
  margin: 80px auto; }
  #bootstrap-overrides .faq-container h3 {
    font-size: 32px;
    line-height: 48px;
    font-family: "Roboto", sansserif; }
  #bootstrap-overrides .faq-container .accordion-button {
    font-family: Nimbus-Sans;
    color: #F2707C;
    font-size: 20px;
    line-height: 32px;
    height: 80px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.38);
    padding: 32px 0 16px 0; }
    #bootstrap-overrides .faq-container .accordion-button::after {
      background-image: url(../img/arrowdown.svg); }
    #bootstrap-overrides .faq-container .accordion-button:focus {
      box-shadow: none; }
    #bootstrap-overrides .faq-container .accordion-button:not(.collapsed) {
      background-color: #FFFFFF;
      border: none;
      padding-bottom: 0; }
  #bootstrap-overrides .faq-container .accordion-body {
    border-bottom: 1px solid rgba(0, 0, 0, 0.38);
    text-align: initial;
    padding: 16px 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87); }

#bootstrap-overrides .footer-container {
  font-family: Nimbus-Sans;
  background: #12193B; }
  #bootstrap-overrides .footer-container .title {
    padding: 56px 0 48px 0;
    color: #FFFFFF; }
    #bootstrap-overrides .footer-container .title h3 {
      font-size: 32px;
      line-height: 48px;
      font-weight: 600; }
    #bootstrap-overrides .footer-container .title p {
      font-size: 20px;
      line-height: 32px;
      font-weight: 400; }
  #bootstrap-overrides .footer-container .btn {
    font-family: "Roboto", sansserif;
    width: fit-content;
    width: -moz-fit-content;
    font-size: 18px;
    color: #FFFFFF;
    padding: 8px 40px;
    border-radius: 46px;
    background: #7C7EB5;
    margin-bottom: 65px; }
  #bootstrap-overrides .footer-container hr {
    color: #FFFFFF;
    opacity: 0.5; }
  #bootstrap-overrides .footer-container .row {
    padding: 49px 0 56px 0; }
    #bootstrap-overrides .footer-container .row .col .section a {
      color: #FFFFFF; }

@media screen and (max-width: 1199px) {
  #bootstrap-overrides .hero header .navbar-nav .btn {
    margin-left: 0; }
  #bootstrap-overrides .hero .main-container {
    height: 91.7vh !important; }
    #bootstrap-overrides .hero .main-container .text {
      margin-top: auto; }
    #bootstrap-overrides .hero .main-container .image {
      height: 50vh; }
      #bootstrap-overrides .hero .main-container .image img {
        transform: scale(0.463);
        transform-origin: top; }
  #bootstrap-overrides .step1-container .mobile {
    height: 333px; }
    #bootstrap-overrides .step1-container .mobile h2 {
      font-weight: 600; }
    #bootstrap-overrides .step1-container .mobile p {
      font-weight: 400; }
    #bootstrap-overrides .step1-container .mobile .label {
      font-size: 14px;
      font-weight: 400; }
    #bootstrap-overrides .step1-container .mobile .form .form-select {
      width: 257px;
      height: 40px;
      border-radius: 21px;
      color: rgba(0, 0, 0, 0.6); }
    #bootstrap-overrides .step1-container .mobile .form .btn {
      background: #4E3F6B;
      border-radius: 21px;
      color: #FFFFFF; }
  #bootstrap-overrides .step2-container {
    background-image: unset; }
    #bootstrap-overrides .step2-container .mobile h2 {
      line-height: 60px;
      margin: 32px 0;
      font-size: 40px; }
    #bootstrap-overrides .step2-container .mobile .demo-form-text {
      margin-bottom: 100px; }
      #bootstrap-overrides .step2-container .mobile .demo-form-text h3 {
        font-size: 40px;
        line-height: 60px; }
      #bootstrap-overrides .step2-container .mobile .demo-form-text p {
        font-weight: 400;
        font-size: 24px; }
      #bootstrap-overrides .step2-container .mobile .demo-form-text .start-btn a {
        font-size: 24px;
        line-height: 24px;
        color: inherit;
        margin-right: 11.33px; }
      #bootstrap-overrides .step2-container .mobile .demo-form-text .start-btn img {
        vertical-align: unset;
        width: 10px; }
  #bootstrap-overrides .rewards-container {
    background: none; }
    #bootstrap-overrides .rewards-container .row {
      height: fit-content;
      height: -moz-fit-content; }
      #bootstrap-overrides .rewards-container .row .rewards-text {
        margin-bottom: 100px; }
        #bootstrap-overrides .rewards-container .row .rewards-text .start-btn a {
          font-size: 24px;
          line-height: 24px;
          color: inherit;
          margin-right: 11.33px; }
        #bootstrap-overrides .rewards-container .row .rewards-text .start-btn img {
          vertical-align: unset;
          width: 10px; }
      #bootstrap-overrides .rewards-container .row .slideshow {
        background: #fae4e7; }
  #bootstrap-overrides .styles-container {
    background: unset;
    padding: 0; }
    #bootstrap-overrides .styles-container .row .carousel {
      background: #F7F3FF;
      padding: 30px 0; }
    #bootstrap-overrides .styles-container .row .start-btn a {
      font-size: 24px;
      line-height: 24px;
      color: inherit;
      margin-right: 11.33px; }
    #bootstrap-overrides .styles-container .row .start-btn img {
      vertical-align: unset;
      width: 10px; }
    #bootstrap-overrides .styles-container .row .select-style-text {
      width: auto;
      margin-bottom: 100px; }
  #bootstrap-overrides .mobile-container {
    background: #7C7EB5;
    color: #FFFFFF;
    padding: 32px 0 48px 0; }
    #bootstrap-overrides .mobile-container h2 {
      font-size: 24px;
      line-height: 34px;
      font-weight: 600; }
    #bootstrap-overrides .mobile-container p {
      font-size: 18px;
      font-weight: 400; }
    #bootstrap-overrides .mobile-container .start-btn-white a {
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      color: #FFFFFF;
      padding-right: 1rem; }
    #bootstrap-overrides .mobile-container .start-btn-white img {
      vertical-align: unset; } }

@media screen and (max-width: 992px) {
  #bootstrap-overrides .hero header .navbar-brand img {
    width: 102px; }
  #bootstrap-overrides .hero header .navbar-nav {
    padding: 25px 0; }
  #bootstrap-overrides .hero .main-container {
    height: 95.9vh !important; }
    #bootstrap-overrides .hero .main-container .text {
      margin-top: 4rem; } }

@media screen and (max-width: 768px) {
  #bootstrap-overrides .hero .main-container {
    height: 103.2vh !important; }
    #bootstrap-overrides .hero .main-container .text {
      margin-top: 4rem; }
    #bootstrap-overrides .hero .main-container .image img {
      transform: scale(0.8); }
  #bootstrap-overrides .rewards-container .center {
    width: inherit;
    padding: 24px 0; }
    #bootstrap-overrides .rewards-container .center .slick-list {
      width: inherit; }
      #bootstrap-overrides .rewards-container .center .slick-list .slick-slide img {
        width: 184px; } }

@media screen and (max-width: 576px) {
  #bootstrap-overrides {
    font-family: Nimbus-Sans;
    color: rgba(0, 0, 0, 0.87); }
    #bootstrap-overrides .hero .main-container .row {
      margin: 30px auto; }
      #bootstrap-overrides .hero .main-container .row .text {
        margin-top: inherit; }
        #bootstrap-overrides .hero .main-container .row .text h1 {
          font-size: 32px;
          line-height: 44.8px;
          font-weight: 600; }
        #bootstrap-overrides .hero .main-container .row .text p {
          font-size: 17px;
          width: 329px;
          line-height: 25px; }
        #bootstrap-overrides .hero .main-container .row .text .btn {
          font-size: 16px;
          padding: 8px 37px; }
    #bootstrap-overrides .step1-container .mobile h2 {
      font-size: 24px;
      line-height: 36px; }
    #bootstrap-overrides .step2-container .mobile h2 {
      font-size: 24px;
      line-height: 36px;
      font-weight: 600; }
    #bootstrap-overrides .step2-container .mobile .demo-form-text {
      margin-bottom: 48px; }
      #bootstrap-overrides .step2-container .mobile .demo-form-text h3 {
        font-size: 18px;
        line-height: 21px;
        font-family: "Roboto", sansserif; }
      #bootstrap-overrides .step2-container .mobile .demo-form-text p {
        font-size: 16px;
        line-height: 24px; }
      #bootstrap-overrides .step2-container .mobile .demo-form-text .start-btn a {
        font-size: 16px;
        color: rgba(0, 0, 0, 0.87); }
      #bootstrap-overrides .step2-container .mobile .demo-form-text .start-btn img {
        width: auto; }
    #bootstrap-overrides .rewards-container .row .rewards-text {
      margin-bottom: 48px; }
      #bootstrap-overrides .rewards-container .row .rewards-text h3 {
        font-size: 18px;
        line-height: 21px;
        font-family: "Roboto", sansserif; }
      #bootstrap-overrides .rewards-container .row .rewards-text p {
        font-size: 16px;
        line-height: 24px; }
      #bootstrap-overrides .rewards-container .row .rewards-text .start-btn a {
        font-size: 16px;
        color: rgba(0, 0, 0, 0.87); }
      #bootstrap-overrides .rewards-container .row .rewards-text .start-btn img {
        width: auto; }
    #bootstrap-overrides .styles-container .row .carousel-item img {
      width: 237.54px; }
    #bootstrap-overrides .styles-container .row .carousel-indicators {
      margin-top: 36.54px; }
      #bootstrap-overrides .styles-container .row .carousel-indicators button {
        width: 40px;
        height: 24px;
        margin-right: 21.7px; }
        #bootstrap-overrides .styles-container .row .carousel-indicators button img {
          width: 40px; }
    #bootstrap-overrides .styles-container .row .select-style-text {
      margin-bottom: 48px; }
      #bootstrap-overrides .styles-container .row .select-style-text h3 {
        font-size: 18px;
        line-height: 21px;
        font-family: "Roboto", sansserif; }
      #bootstrap-overrides .styles-container .row .select-style-text p {
        font-size: 16px;
        line-height: 24px; }
      #bootstrap-overrides .styles-container .row .select-style-text .start-btn a {
        font-size: 16px;
        color: rgba(0, 0, 0, 0.87); }
      #bootstrap-overrides .styles-container .row .select-style-text .start-btn img {
        width: auto; }
    #bootstrap-overrides .faq-container {
      margin: 48px 0 42px 0; }
      #bootstrap-overrides .faq-container .accordion-button {
        font-size: 14px;
        line-height: 19.6px;
        padding: 16px 0; }
        #bootstrap-overrides .faq-container .accordion-button::after {
          background-size: 10px 5px;
          background-position: center; }
    #bootstrap-overrides .footer-container .title {
      padding-top: 32px; }
    #bootstrap-overrides .footer-container .row {
      padding: 24px 0 37px 0; } }
