body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500; }

#bootstrap-overrides header .navbar .navbar-collapse {
  align-items: center;
  padding: 40px 0; }
  #bootstrap-overrides header .navbar .navbar-collapse .navbar-nav {
    align-items: center; }
    #bootstrap-overrides header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
      color: #262A2F;
      padding: 0 20px; }
    #bootstrap-overrides header .navbar .navbar-collapse .navbar-nav .nav-item .btn {
      background-color: #F2707C;
      padding: 8px 24px;
      font-weight: 500;
      color: #FFFFFF;
      border-radius: 4px;
      margin: 0 20px; }

#bootstrap-overrides .main-container {
  margin: 80px auto; }
  #bootstrap-overrides .main-container .text h1 {
    font-size: 48px;
    line-height: 62.4px;
    margin-bottom: 1rem; }
  #bootstrap-overrides .main-container .text p {
    width: 496px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400; }
  #bootstrap-overrides .main-container .text .btn {
    background-color: #F2707C;
    padding: 8px 40px;
    border-radius: 30px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    margin-top: 1rem; }

#bootstrap-overrides .step1-container {
  background: #8E7CB5;
  color: #FFFFFF; }
  #bootstrap-overrides .step1-container .container {
    height: 392px;
    padding-top: 93px; }
    #bootstrap-overrides .step1-container .container h2 {
      width: 599px;
      font-size: 40px;
      line-height: 56px; }
    #bootstrap-overrides .step1-container .container .desc {
      font-size: 16px;
      width: 492px;
      font-weight: 400;
      line-height: 24px;
      margin-left: auto; }
      #bootstrap-overrides .step1-container .container .desc a {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
        padding-right: 1rem; }
      #bootstrap-overrides .step1-container .container .desc img {
        vertical-align: unset; }

#bootstrap-overrides .step2-container .content .row {
  height: 480px; }
  #bootstrap-overrides .step2-container .content .row .demo-form {
    height: inherit;
    margin-right: auto;
    padding: 63px 124px 63px 208px;
    background: #BFE1FF; }
    #bootstrap-overrides .step2-container .content .row .demo-form .demo-input, #bootstrap-overrides .step2-container .content .row .demo-form .demo-input1, #bootstrap-overrides .step2-container .content .row .demo-form .demo-input2, #bootstrap-overrides .step2-container .content .row .demo-form .demo-input3 {
      height: 64px;
      width: 400px;
      font-size: 24px;
      line-height: 32px;
      padding: 16px 113px 16px 16px;
      border-radius: 8px; }
    #bootstrap-overrides .step2-container .content .row .demo-form .demo-input1, #bootstrap-overrides .step2-container .content .row .demo-form .demo-input2 {
      background: #FFFFFF;
      color: rgba(0, 0, 0, 0.6); }
    #bootstrap-overrides .step2-container .content .row .demo-form .demo-input3 {
      color: rgba(0, 0, 0, 0.38);
      background: #FFFFFF; }
  #bootstrap-overrides .step2-container .content .row .form-desc {
    width: 394px; }
    #bootstrap-overrides .step2-container .content .row .form-desc h2 {
      font-size: 40px;
      line-height: 60px;
      margin: 1rem 0; }
    #bootstrap-overrides .step2-container .content .row .form-desc p {
      font-size: 24px;
      line-height: 36px;
      font-weight: 400; }

#bootstrap-overrides .rewards-container {
  background: #FFE4E7; }
  #bootstrap-overrides .rewards-container .row {
    height: 608px; }
    #bootstrap-overrides .rewards-container .row .rewards-text {
      width: 496px; }
      #bootstrap-overrides .rewards-container .row .rewards-text h2 {
        font-size: 40px;
        line-height: 60px; }
      #bootstrap-overrides .rewards-container .row .rewards-text p {
        font-size: 24px;
        line-height: 36px;
        font-weight: 400; }
    #bootstrap-overrides .rewards-container .row .slideshow {
      height: 480px;
      width: 600px; }
