body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500; }

#bootstrap-overrides header .navbar .navbar-toggler {
  border: none; }
  #bootstrap-overrides header .navbar .navbar-toggler .navbar-toggler-icon {
    background-image: url(../img/menu.svg); }

#bootstrap-overrides header .navbar .navbar-collapse .navbar-nav {
  padding: 40px 0;
  align-items: center; }
  #bootstrap-overrides header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: #262A2F;
    padding: 0 20px; }
  #bootstrap-overrides header .navbar .navbar-collapse .navbar-nav .nav-item .btn {
    background-color: #F2707C;
    padding: 8px 24px;
    font-weight: 500;
    color: #FFFFFF;
    border-radius: 4px;
    margin-left: 20px; }

#bootstrap-overrides .main-container {
  margin: 80px auto; }
  #bootstrap-overrides .main-container .text h1 {
    font-size: 48px;
    line-height: 62.4px;
    margin-bottom: 1rem; }
  #bootstrap-overrides .main-container .text p {
    width: 496px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400; }
  #bootstrap-overrides .main-container .text .btn {
    background-color: #F2707C;
    padding: 8px 40px;
    border-radius: 30px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    margin-top: 1rem;
    margin-bottom: 24px; }
  #bootstrap-overrides .main-container .image img {
    width: -webkit-fill-available; }

#bootstrap-overrides .step1-container {
  background: #8E7CB5;
  color: #FFFFFF; }
  #bootstrap-overrides .step1-container .desktop {
    height: 392px; }
    #bootstrap-overrides .step1-container .desktop .row {
      height: inherit; }
      #bootstrap-overrides .step1-container .desktop .row h2 {
        width: 599px;
        font-size: 40px;
        line-height: 56px;
        margin-top: 93px; }
      #bootstrap-overrides .step1-container .desktop .row .desc {
        font-size: 16px;
        width: 492px;
        font-weight: 400;
        line-height: 24px;
        margin-left: auto; }
        #bootstrap-overrides .step1-container .desktop .row .desc a {
          font-weight: 500;
          font-size: 20px;
          line-height: 30px;
          color: #FFFFFF;
          padding-right: 1rem; }
        #bootstrap-overrides .step1-container .desktop .row .desc img {
          vertical-align: unset; }

#bootstrap-overrides .step2-container {
  background-image: linear-gradient(to right, #bfe1fe 50%, transparent 50%); }
  #bootstrap-overrides .step2-container .desktop .form-desc {
    width: 496px; }
    #bootstrap-overrides .step2-container .desktop .form-desc h2 {
      font-size: 40px;
      line-height: 60px;
      margin: 1rem 0; }
    #bootstrap-overrides .step2-container .desktop .form-desc p {
      width: 394px;
      font-size: 24px;
      line-height: 36px;
      font-weight: 400; }

#bootstrap-overrides .rewards-container {
  background: #FFE4E7; }
  #bootstrap-overrides .rewards-container .row {
    height: 608px; }
    #bootstrap-overrides .rewards-container .row .rewards-text {
      width: 496px; }
      #bootstrap-overrides .rewards-container .row .rewards-text h2 {
        font-size: 40px;
        line-height: 60px; }
      #bootstrap-overrides .rewards-container .row .rewards-text p {
        font-size: 24px;
        line-height: 36px;
        font-weight: 400; }

#bootstrap-overrides .styles-container {
  background: #F7F3FF; }
  #bootstrap-overrides .styles-container .row {
    height: 480px; }
    #bootstrap-overrides .styles-container .row .select-style {
      width: 495px; }
      #bootstrap-overrides .styles-container .row .select-style h2 {
        margin: 1rem 0;
        font-size: 40px;
        line-height: 60px; }
      #bootstrap-overrides .styles-container .row .select-style p {
        font-size: 24px;
        line-height: 36px;
        font-weight: 400; }

#bootstrap-overrides .faq-container {
  max-width: 808px;
  margin: 80px auto; }
  #bootstrap-overrides .faq-container h3 {
    font-size: 32px;
    line-height: 48px; }
  #bootstrap-overrides .faq-container .accordion .accordion-item .accordion-header .accordion-button {
    color: #F2707C;
    font-size: 20px;
    line-height: 32px;
    height: 80px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.38);
    padding: 32px 0 16px 0; }
    #bootstrap-overrides .faq-container .accordion .accordion-item .accordion-header .accordion-button::after {
      background-image: url(../img/arrowdown.svg); }
    #bootstrap-overrides .faq-container .accordion .accordion-item .accordion-header .accordion-button:focus {
      box-shadow: none; }
    #bootstrap-overrides .faq-container .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
      background-color: #FFFFFF;
      border: none;
      padding-bottom: 0; }
  #bootstrap-overrides .faq-container .accordion .accordion-item .accordion-body {
    border-bottom: 1px solid rgba(0, 0, 0, 0.38);
    text-align: initial;
    padding: 16px 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87); }

#bootstrap-overrides .footer-container {
  background: #12193B;
  height: 550px; }
  #bootstrap-overrides .footer-container .title {
    padding: 56px 0 48px 0;
    color: #FFFFFF; }
    #bootstrap-overrides .footer-container .title h3 {
      font-size: 32px;
      line-height: 40px; }
    #bootstrap-overrides .footer-container .title p {
      font-size: 20px;
      line-height: 32px;
      font-weight: 400; }
  #bootstrap-overrides .footer-container .btn {
    width: fit-content;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    padding: 8px 40px;
    border-radius: 46px;
    background: #7C7EB5;
    margin-bottom: 65px; }
  #bootstrap-overrides .footer-container hr {
    color: #FFFFFF;
    opacity: 0.5; }
  #bootstrap-overrides .footer-container .row {
    margin: 65px 0 80px 0; }
    #bootstrap-overrides .footer-container .row .col .section a {
      margin-bottom: 24px;
      line-height: 24px;
      color: #FFFFFF; }

@media screen and (max-width: 1200px) {
  #bootstrap-overrides .step1-container .mobile {
    height: 333px; }
    #bootstrap-overrides .step1-container .mobile h2 {
      margin-bottom: 1rem; }
    #bootstrap-overrides .step1-container .mobile p {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      margin-bottom: 24px; }
    #bootstrap-overrides .step1-container .mobile .label {
      font-size: 14px;
      line-height: 21px;
      font-weight: 400;
      margin-bottom: 8px; }
    #bootstrap-overrides .step1-container .mobile .form .form-select {
      width: 257px;
      height: 40px;
      padding: 8px 16px;
      border-radius: 21px;
      color: rgba(0, 0, 0, 0.6); }
    #bootstrap-overrides .step1-container .mobile .form .btn {
      font-size: 16px;
      line-height: 24px;
      padding: 8px 16px;
      background: #4E3F6B;
      border-radius: 21px;
      color: #FFFFFF;
      margin-left: 16px; }
  #bootstrap-overrides .step2-container {
    background-image: unset; }
    #bootstrap-overrides .step2-container .mobile {
      padding: 32px 0 48px 0; }
      #bootstrap-overrides .step2-container .mobile h2 {
        line-height: 36px;
        margin-bottom: 32px; }
      #bootstrap-overrides .step2-container .mobile h3 {
        margin-top: 1rem; }
      #bootstrap-overrides .step2-container .mobile p {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400; }
      #bootstrap-overrides .step2-container .mobile .start-btn {
        font-size: 16px;
        line-height: 24px;
        color: inherit;
        margin-right: 11.33px; }
      #bootstrap-overrides .step2-container .mobile img {
        vertical-align: unset; } }

@media screen and (max-width: 992px) {
  #bootstrap-overrides header .navbar .navbar-brand img {
    width: 102px; }
  #bootstrap-overrides header .navbar .navbar-collapse .navbar-nav {
    padding: 25px 0; }
    #bootstrap-overrides header .navbar .navbar-collapse .navbar-nav .nav-item .btn {
      margin-left: 0; } }

@media screen and (max-width: 576px) {
  #bootstrap-overrides {
    color: rgba(0, 0, 0, 0.87); }
    #bootstrap-overrides .main-container {
      margin: 30px auto;
      margin-bottom: 48px; }
      #bootstrap-overrides .main-container .text h1 {
        font-size: 32px;
        line-height: 44.8px; }
      #bootstrap-overrides .main-container .text p {
        font-size: 17px;
        width: 329px;
        line-height: 25px; }
      #bootstrap-overrides .main-container .text .btn {
        font-size: 16px;
        line-height: 24px;
        padding: 8px 37px; }
    #bootstrap-overrides .step1-container .mobile h2 {
      font-size: 24px;
      line-height: 36px; }
    #bootstrap-overrides .step2-container .mobile h2 {
      font-size: 24px;
      line-height: 36px; }
    #bootstrap-overrides .step2-container .mobile h3 {
      font-size: 18px;
      line-height: 21px; }
    #bootstrap-overrides .step2-container .mobile .start-btn {
      color: inherit; } }
