
$colorSalmon: #F2707C;
$colorWhite: #FFFFFF;

body {
   font-family: 'Roboto', sans-serif;
   font-weight: 500;
}
#bootstrap-overrides {
    .hero {
        height: 100vh;
        header {
            .navbar {
                .navbar-toggler {
                    border: none;
                    .navbar-toggler-icon {
                        background-image: url(../img/menu.svg);
                    }
                }
                .navbar-collapse {
                    .navbar-nav {
                        padding: 40px 0;
                        align-items: center;
                        .nav-item {
                            .nav-link {
                                color: #262A2F;
                                padding: 0 20px;
                            }
                            .btn {
                                background-color: $colorSalmon;
                                padding: 8px 24px;
                                font-weight: 500;
                                color: $colorWhite;
                                border-radius: 4px;
                                margin-left: 20px;

                            }
                        }
                    }
                }
            }
        }
        .main-container {
            height: 83.6vh;
            .row {
                height: inherit;
                .text {
                    h1 {
                        font-size: 48px;
                        line-height: 62.4px;
                        margin-bottom: 1rem;
                    }
                    p{
                        width: 496px;
                        font-size: 20px;
                        line-height: 30px;
                        font-weight: 400;
                    }
                    .btn {
                        background-color: $colorSalmon;
                        padding: 8px 40px;
                        border-radius: 30px;
                        color: $colorWhite;
                        font-weight: 500;
                        font-size: 18px;
                        margin-top: 1rem;
                        margin-bottom: 24px;
                    }
                }
                .image {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
    .step1-container {
        background: #8E7CB5;
        color: $colorWhite;
        .desktop {
            height: 392px;
            .row {
                height: inherit;
                h2 {
                    width: 599px;
                    font-size: 40px;
                    line-height: 56px;
                    margin-top: 93px;
                }
                .desc {
                    font-size: 16px;
                    width: 492px;
                    font-weight: 400;
                    line-height: 24px;
                    margin-left: auto;
                    .start-btn-white {
                        a {
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 30px;
                            color: $colorWhite;
                            padding-right: 1rem;
                        }
                        img {
                            vertical-align: unset;
                        }
                    }
                }
            }
        }
    }
    .step2-container {
        background-image: linear-gradient(to right, #bfe1fe 50%, transparent 50%);
        .desktop {
            .form-desc {
                width: 496px;

                h2 {
                    font-size: 40px;
                    line-height: 60px;
                    margin: 1rem 0;
                }
                p{
                    width: 394px;
                    font-size: 24px;
                    line-height: 36px;
                    font-weight: 400;
                }
            }
        }
    }
    .rewards-container {
        background: #FFE4E7;
        .row {
            height: 608px;
            .rewards-text {
                h2 {
                    margin: 1rem 0;
                    font-size: 40px;
                    line-height: 60px;
                }
                p {
                    font-size: 24px;
                    line-height: 36px;
                    font-weight: 400;
                }
            }
            .slideshow {
                width: 100%;
            }
        }
    }
    .styles-container {
        background: #F7F3FF;
        padding: 70px 0;
        .row {
            .carousel-indicators {
                position: initial;
                justify-content: center;
                margin-top: 59px;
                margin-bottom: 0;
                button {
                    width: 68px;
                    height: 41px;
                    opacity: 1;
                    margin-right: 40px;
                    padding: 3.3px;
                    border: 1px solid transparent;
                    background: #F7F3FF;
                    border-radius: 3px;

                    img {
                        float: left;
                    }
                    &.active {
                        border: 1px solid rgba(0, 0, 0, 0.6);
                    }
                }
            }
            .select-style {
                width: 495px;
                h2 {
                    margin: 1rem 0;
                    font-size: 40px;
                    line-height: 60px;
                }
                p {
                    font-size: 24px;
                    line-height: 36px;
                    font-weight: 400;
                }
            }
        }
    }
    .faq-container {
        max-width: 808px;
        margin: 80px auto;
        h3 {
            font-size: 32px;
            line-height: 48px;
            margin-bottom: 0;
        }
        .accordion{
            .accordion-item {
                .accordion-header {
                    .accordion-button {
                        color: $colorSalmon;
                        font-size: 20px;
                        line-height: 32px;
                        height: 80px;
                        border: none;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.38);
                        padding: 32px 0 16px 0;
                        &::after {
                            background-image: url(../img/arrowdown.svg);
                        }
                        &:focus {
                            box-shadow: none;
                        }
                        &:not(.collapsed) {
                            background-color: $colorWhite;
                            border: none;
                            padding-bottom: 0;
                        }
                    }
                }
                .accordion-body {
                    border-bottom: 1px solid rgba(0, 0, 0, 0.38);
                    text-align: initial;
                    padding: 16px 0;
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 400;
                    color: rgba(0, 0, 0, 0.87);
                }
            }
        }
    }
    .footer-container {
        background: #12193B;
        .title {
            padding: 56px 0 48px 0;
            color: $colorWhite;
            h3 {
                font-size: 32px;
                line-height: 48px;
            }
            p {
                font-size: 20px;
                line-height: 32px;
                font-weight: 400;
            }
        }
        .btn {
            width: fit-content;
            font-size: 18px;
            line-height: 27px;
            color: $colorWhite;
            padding: 8px 40px;
            border-radius: 46px;
            background: #7C7EB5;
            margin-bottom: 65px;
        }
        hr {
            color: $colorWhite;
            opacity: 0.5;
        }
        .row {
            padding: 49px 0 56px 0;
            .col {
                .section {
                    a {
                        margin-bottom: 24px;
                        line-height: 24px;
                        color: $colorWhite;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1200px) {
    #bootstrap-overrides {
        .main-container {
            height: 91.7vh!important;
            .text {
                margin-top: auto;
            }
            .image {
                img {
                    transform: scale(0.544);
                    transform-origin: top;
                }
            } 
        }
        .step1-container {
            .mobile {
                height: 333px;
                h2 {
                    margin-bottom: 1rem;

                }
                p {
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 400;
                    margin-bottom: 24px;
                }
                .label {
                    font-size: 14px;
                    line-height: 21px;
                    font-weight: 400;
                    margin-bottom: 8px;
                }
                .form {
                    .form-select {
                        width: 257px;
                        height: 40px;
                        padding: 8px 16px;
                        border-radius: 21px;
                        color: rgba(0, 0, 0, 0.6);
                    }
                    .btn {
                        font-size: 16px;
                        line-height: 24px;
                        padding: 8px 16px;
                        background: #4E3F6B;
                        border-radius: 21px;
                        color: $colorWhite;
                        margin-left: 16px;
                    }
                }
            }
        }
        .step2-container {
            background-image: unset;
            .mobile {
                h2 {
                    line-height: 60px;
                    margin: 32px 0;
                    font-size: 40px;
                }
                .demo-form {
                    img {
                        width: -webkit-fill-available;;
                    }
                }
                .demo-form-text {
                    margin-bottom: 100px;
                    h3 {
                        font-size: 40px;
                        line-height: 60px;
                        margin-top: 1rem;
                    }
                    p{
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 36px;
                    }
                    .start-btn {
                        a {
                            font-size: 24px;
                            line-height: 24px;
                            color: inherit;
                            margin-right: 11.33px;
                        }
                        img {
                            vertical-align: unset;
                            width: 10px;
                        }
                    }
                }
            }
        }
        .rewards-container {
            background: none;
            .row {
                height: fit-content;
                .rewards-text {
                    margin-bottom: 100px;
                    .start-btn {
                        a {
                            font-size: 24px;
                            line-height: 24px;
                            color: inherit;
                            margin-right: 11.33px;
                        }
                        img {
                            vertical-align: unset;
                            width: 10px;
                        }
                    }
                }
                .slideshow {
                    background: #fae4e7;
                    .carousel {
                        padding: 24px 0;
                    }
                }
            }
        }
        .styles-container {
            background: unset;
            padding: 0;
            .row {
                .carousel {
                    background: #F7F3FF;
                    padding: 30px 0;
                }
                .start-btn {
                    a {
                        font-size: 24px;
                        line-height: 24px;
                        color: inherit;
                        margin-right: 11.33px;
                    }
                    img {
                        vertical-align: unset;
                        width: 10px;
                    }
                }
                .select-style {
                    width: auto;
                    margin-bottom: 100px;
                }
            }
        }
        .mobile-container {
            background: #7C7EB5;
            color: $colorWhite;
            padding: 32px 0 48px 0;
            h2 {
                font-size: 24px;
                line-height: 34px;
                margin-bottom: 1rem;
            }
            p {
                font-size: 18px;
                line-height: 27px;
                font-weight: 400;
                margin-bottom: 16px;
            }
            .start-btn-white {
                a {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    color: $colorWhite;
                    padding-right: 1rem;
                }
                img {
                    vertical-align: unset;
                    width: 7px;
                }
            }
        }
    }
}
@media screen and (max-width:992px) {
    #bootstrap-overrides {
        .hero {
            header {
                .navbar {
                    .navbar-brand {
                        img {
                            width: 102px;
                        }
                    }
                    .navbar-collapse {
                        .navbar-nav {
                            padding: 25px 0;
                            .nav-item {
                                .nav-link {
                                    
                                }
                                .btn {
                                    margin-left: 0;
                                }
                            }    
                        }
                    }
                }
            }
            .main-container {
                height: 95.9vh!important;
                .text {
                   margin-top: 4rem;
                }
            }
        }
    }
}
@media screen and (max-width:768px) {
    #bootstrap-overrides {
       .hero {
            .main-container {
                height: 103.2vh!important;
                .text {
                    margin-top: 4rem;
                }
                .image {
                    img {
                        transform: scale(0.8);
                    }
                }
            }
       }
    }
}

 @media screen and (max-width:576px) {
    #bootstrap-overrides {
        color: rgba(0, 0, 0, 0.87);
        .hero {
            .main-container {
                .row {
                    margin: 30px auto;
                    margin-bottom: 48px;
                    .text {
                        margin-top: inherit;
                        h1 {
                            font-size: 32px;
                            line-height: 44.8px;
                        }
                        p {
                            font-size: 17px;
                            width: 329px;
                            line-height: 25px;
                        }
                        .btn {
                            font-size: 16px;
                            line-height: 24px;
                            padding: 8px 37px;
                        }
                    }
                }
            }
        }
        .step1-container {
            .mobile {
                h2 {
                    font-size: 24px;
                    line-height: 36px;
                }
            }
        }
        .step2-container {
            .mobile {
                h2 {
                    font-size: 24px;
                    line-height: 36px;
                }
                .demo-form-text {
                    margin-bottom: 48px;
                    h3 {
                        font-size: 18px;
                        line-height: 21px;
                    }
                    p {
                        font-size: 16px;
                        line-height: 24px;
                    }
                    .start-btn {
                        a {
                            font-size: 16px;
                            color: inherit;
                        }
                        img {
                            width: auto;
                        }
                    }
                }
            }
        }
        .rewards-container {
            .row {
                .rewards-text {
                    margin-bottom: 48px;
                    h2 {
                        font-size: 18px;
                        line-height: 21px;
                    }
                    p {
                        font-size: 16px;
                        line-height: 24px;
                    }
                    .start-btn {
                        a {
                            font-size: 16px;
                            color: inherit;
                        }
                        img {
                            width: auto;
                        }
                    }
                }
                .slideshow {
                    .carousel-inner {
                        .carousel-item {
                            img {
                                width: 184px;
                            }
                        }
                    }
                }
            }
        }
        .styles-container {
            .row {
                .carousel-inner {
                    .carousel-item {
                        img {
                            width: 237.54px;
                        }
                    }
                }
                .carousel-indicators {
                    margin-top: 36.54px;
                    button {
                        width: 40px;
                        height: 24px;
                        margin-right: 21.7px;
                        img {
                            width: 40px;
                        }
                    }
                }
                .select-style {
                    margin-bottom: 48px;
                    h2 {
                        font-size: 18px;
                        line-height: 21px;
                    }
                    p {
                        font-size: 16px;
                        line-height: 24px;
                    }
                    .start-btn {
                        a {
                            font-size: 16px;
                            color: inherit;
                        }
                        img {
                            width: auto;
                        }
                    }
                }
            }
            
        }
        .faq-container {
            margin: 48px 0 42px 0;
            .accordion{
                .accordion-item {
                    .accordion-header {
                        .accordion-button {
                            font-size: 14px;
                            line-height: 19.6px;
                            padding: 16px 0;
                            &::after {
                                background-size: 10px 5px;
                                background-position: center;
                            }
                        }
                    }
                }
            }
        }
        .footer-container {
            .title {
                padding-top: 32px;
            }
            .row {
                padding: 24px 0 37px 0;
            }
        }
    }
}

