@font-face {
    font-family: Nimbus-Sans;
    src: url(../fonts/nimbus-sans-d-ot-light_32752.ttf);
}
$mainFont: 'Roboto', sansserif;
$subFont: Nimbus-Sans;
$colorSalmon: #F2707C;
$colorWhite: #FFFFFF;
$colorBlack: rgba(0, 0, 0, 0.87);

@mixin start_btn {
    .start-btn {
        a {
            font-size: 24px;
            line-height: 24px;
            color: inherit;
            margin-right: 11.33px;
        }
        img {
            vertical-align: unset;
            width: 10px;
        }
    }
}
@mixin start-btn-white {
    .start-btn-white {
        a {
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            color: $colorWhite;
            padding-right: 1rem;
        }
        img {
            vertical-align: unset;
        }
    }
}
@mixin section-text-mobile {
    margin-bottom: 48px;
    h3 {
        font-size: 18px;
        line-height: 21px;
        font-family: $mainFont;
    }
    p {
        font-size: 16px;
        line-height: 24px;
    }
    .start-btn {
        a {
            font-size: 16px;
            color: $colorBlack;
        }
        img {
            width: auto;
        }
    }
}

body {
   font-family: $mainFont;
   font-weight: 500;
}
#bootstrap-overrides {
    .hero {
        height: 100vh;
        header {
            .navbar {
                .navbar-toggler {
                    .navbar-toggler-icon {
                        background-image: url(../img/menu.svg);
                    }
                }
                .navbar-collapse {
                    .navbar-nav {
                        padding: 2.5rem 0;
                        .nav-item {
                            .nav-link {
                                color: #262A2F;
                                padding: 0 20px;
                            }
                            .btn {
                                background-color: $colorSalmon;
                                font-weight: 500;
                                color: $colorWhite;
                                border-radius: 4px;
                                margin-left: 1.25rem;
                            }
                        }
                    }
                }
            }
        }
        .main-container {
            height: 83.6vh;
            .row {
                height: inherit;
                .text {
                    h1 {
                        font-size: 48px;
                        line-height: 62.4px;
                    }
                    p{
                        width: 496px;
                        font-size: 20px;
                        line-height: 30px;
                        font-weight: 400;
                    }
                    .btn {
                        background-color: $colorSalmon;
                        padding: 8px 40px;
                        border-radius: 30px;
                        color: $colorWhite;
                        font-weight: 500;
                        font-size: 18px;
                    }
                }
            }
        }
    }
    .step1-container {
        font-family: $subFont;
        background: #8E7CB5;
        color: $colorWhite;
        .desktop {
            height: 392px;
            .row {
                height: inherit;
                h2 {
                    width: 599px;
                    font-size: 40px;
                    line-height: 56px;
                    margin-top: 93px;
                    font-weight: 600;
                }
                .desc {
                    font-size: 16px;
                    width: 492px;
                    font-weight: 400;
                    line-height: 24px;
                    @include start-btn-white;
                }
            }
        }
    }
    .step2-container {
        background-image: linear-gradient(to right, #bfe1fe 50%, transparent 50%);
        .desktop {
            .form-desc {
                width: 496px;

                h2 {
                    font-size: 40px;
                    line-height: 60px;
                    margin: 1rem 0;
                }
                p{
                    width: 394px;
                    font-size: 24px;
                    line-height: 36px;
                    font-weight: 400;
                }
            }
        }
    }
    .rewards-container {
        background: #FFE4E7;
        .row {
            height: 608px;
            .rewards-text {
                h3 {
                    font-size: 40px;
                    line-height: 60px;
                }
                p {
                    font-size: 24px;
                    line-height: 36px;
                    font-weight: 400;
                }
            }
            .slideshow {
                .center {
                    padding: 40px 0;
                    .slick-list {
                        width: 100%;
                        max-width: 600px;
                        margin: 0 auto;
                        .slick-slide {
                            transition: transform 0.5s ease-in-out;
                            margin: 0 auto;
                            &[aria-hidden="true"] {
                                transform: scale(0.9);
                            }
                            &:focus {
                                outline: none;
                            }
                        }
                    }
                }
                
            }
        }
    }
    .styles-container {
        background: #F7F3FF;
        padding: 70px 0;
        .row {
            .carousel-indicators {
                position: initial;
                justify-content: center;
                margin-top: 59px;
                margin-bottom: 0;
                button {
                    width: 68px;
                    height: 41px;
                    opacity: 1;
                    margin-right: 40px;
                    padding: 3.3px;
                    border: 1px solid transparent;
                    background: #F7F3FF;
                    border-radius: 3px;
                    img {
                        float: left;
                    }
                    &.active {
                        border: 1px solid rgba(0, 0, 0, 0.6);
                    }
                }
            }
            .select-style-text {
                width: 495px;
                h3 {
                    margin: 1rem 0;
                    font-size: 40px;
                    line-height: 60px;
                }
                p {
                    font-size: 24px;
                    line-height: 36px;
                    font-weight: 400;
                }
            }
        }
    }
    .mobile-container {
        font-family: $subFont;
    }
    .faq-container {
        max-width: 808px;
        margin: 80px auto;
        h3 {
            font-size: 32px;
            line-height: 48px;
            font-family: $mainFont;
        }
        .accordion {
            .accordion-item {
                .accordion-header {
                    .accordion-button {
                        font-family: $subFont;
                        color: $colorSalmon;
                        font-size: 20px;
                        line-height: 32px;
                        height: 80px;
                        border: none;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.38);
                        padding: 32px 0 16px 0;
                        &::after {
                            background-image: url(../img/arrowdown.svg);
                        }
                        &:focus {
                            box-shadow: none;
                        }
                        &:not(.collapsed) {
                            background-color: $colorWhite;
                            border: none;
                            padding-bottom: 0;
                        }
                    }
                }
                .accordion-body {
                    border-bottom: 1px solid rgba(0, 0, 0, 0.38);
                    text-align: initial;
                    padding: 16px 0;
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 400;
                    color: $colorBlack;
                }
            }
        }
    }
    .footer-container {
        font-family: $subFont;
        background: #12193B;
        .title {
            padding: 56px 0 48px 0;
            color: $colorWhite;
            h3 {
                font-size: 32px;
                line-height: 48px;
                font-weight: 600;
            }
            p {
                font-size: 20px;
                line-height: 32px;
                font-weight: 400;
            }
        }
        .btn {
            font-family: $mainFont;
            width: fit-content;
            font-size: 18px;
            color: $colorWhite;
            padding: 8px 40px;
            border-radius: 46px;
            background: #7C7EB5;
            margin-bottom: 65px;
        }
        hr {
            color: $colorWhite;
            opacity: 0.5;
        }
        .row {
            padding: 49px 0 56px 0;
            .col {
                .section {
                    a {
                        color: $colorWhite;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1199px) {
    #bootstrap-overrides {
        .hero {
            header {
                .navbar {
                    .navbar-collapse {
                        .navbar-nav{
                            .nav-item {
                                .btn {
                                    margin-left: 0;
                                }
                            }   
                        }    
                    }        
                }
            }
            .main-container {
                height: 91.7vh!important;
                .text {
                    margin-top: auto;
                }
                .image {
                    img {
                        transform: scale(0.463);
                        transform-origin: top;
                    }
                } 
            }    
        }
        .step1-container {
            .mobile {
                height: 333px;
                h2 {
                    font-weight: 600;
                }
                p {
                    font-weight: 400;
                }
                .label {
                    font-size: 14px;
                    font-weight: 400;
                }
                .form {
                    .form-select {
                        width: 257px;
                        height: 40px;
                        border-radius: 21px;
                        color: rgba(0, 0, 0, 0.6);
                    }
                    .btn {
                        background: #4E3F6B;
                        border-radius: 21px;
                        color: $colorWhite;
                    }
                }
            }
        }
        .step2-container {
            background-image: unset;
            .mobile {
                h2 {
                    line-height: 60px;
                    margin: 32px 0;
                    font-size: 40px;
                }
                .demo-form-text {
                    margin-bottom: 100px;
                    h3 {
                        font-size: 40px;
                        line-height: 60px;
                    }
                    p{
                        font-weight: 400;
                        font-size: 24px;
                    }
                    @include start_btn;
                }
            }
        }
        .rewards-container {
            background: none;
            .row {
                height: fit-content;
                .rewards-text {
                    margin-bottom: 100px;
                    @include start_btn;
                }
                .slideshow {
                    background: #fae4e7;
                }
            }
        }
        .styles-container {
            background: unset;
            padding: 0;
            .row {
                .carousel {
                    background: #F7F3FF;
                    padding: 30px 0;
                }
                @include start_btn;
                .select-style-text {
                    width: auto;
                    margin-bottom: 100px;
                }
            }
        }
        .mobile-container {
            background: #7C7EB5;
            color: $colorWhite;
            padding: 32px 0 48px 0;
            h2 {
                font-size: 24px;
                line-height: 34px;
                font-weight: 600;
            }
            p {
                font-size: 18px;
                font-weight: 400;
            }
            @include start-btn-white;
        }
    }
}
@media screen and (max-width:992px) {
    #bootstrap-overrides {
        .hero {
            header {
                .navbar {
                    .navbar-brand {
                        img {
                            width: 102px;
                        }
                    }
                    .navbar-collapse {
                        .navbar-nav {
                            padding: 25px 0; 
                        }
                    }
                }
            }
            .main-container {
                height: 95.9vh!important;
                .text {
                   margin-top: 4rem;
                }
            }
        }
    }
}

@media screen and (max-width:768px) {
    #bootstrap-overrides {
       .hero {
            .main-container {
                height: 103.2vh!important;
                .text {
                    margin-top: 4rem;
                }
                .image {
                    img {
                        transform: scale(0.8);
                    }
                }
            }
       }
       .rewards-container {
            .center {
                width: inherit;
                padding: 24px 0;
                .slick-list {
                    width: inherit;
                    .slick-slide {
                        img {
                            width: 184px;
                        }
                    }
                }
            }
       }
    }
}
 @media screen and (max-width:576px) {
    #bootstrap-overrides {
        font-family: $subFont;
        color: $colorBlack;
        .hero {
            .main-container {
                .row {
                    margin: 30px auto;
                    .text {
                        margin-top: inherit;
                        h1 {
                            font-size: 32px;
                            line-height: 44.8px;
                            font-weight: 600;
                        }
                        p {
                            font-size: 17px;
                            width: 329px;
                            line-height: 25px;
                        }
                        .btn {
                            font-size: 16px;
                            padding: 8px 37px;
                        }
                    }
                }
            }
        }
        .step1-container {
            .mobile {
                h2 {
                    font-size: 24px;
                    line-height: 36px;
                }
            }
        }
        .step2-container {
            .mobile {
                h2 {
                    font-size: 24px;
                    line-height: 36px;
                    font-weight: 600;
                }
                .demo-form-text {
                   @include section-text-mobile;
                }
            }
        }
        .rewards-container {
            .row {
                .rewards-text {
                    @include section-text-mobile;
                }
            }
        }
        .styles-container {
            .row {
                .carousel-inner {
                    .carousel-item {
                        img {
                            width: 237.54px;
                        }
                    }
                }
                .carousel-indicators {
                    margin-top: 36.54px;
                    button {
                        width: 40px;
                        height: 24px;
                        margin-right: 21.7px;
                        img {
                            width: 40px;
                        }
                    }
                }
                .select-style-text {
                    margin-bottom: 48px;
                    h3 {
                        font-size: 18px;
                        line-height: 21px;
                        font-family: $mainFont;
                    }
                    p {
                        font-size: 16px;
                        line-height: 24px;
                    }
                    .start-btn {
                        a {
                            font-size: 16px;
                            color: $colorBlack;
                        }
                        img {
                            width: auto;
                        }
                    }
                }
            }
        }
        .faq-container {
            margin: 48px 0 42px 0;
            .accordion{
                .accordion-item {
                    .accordion-header {
                        .accordion-button {
                            font-size: 14px;
                            line-height: 19.6px;
                            padding: 16px 0;
                            &::after {
                                background-size: 10px 5px;
                                background-position: center;
                            }
                        }
                    }
                }
            }
        }
        .footer-container {
            .title {
                padding-top: 32px;
            }
            .row {
                padding: 24px 0 37px 0;
            }
        }
    }
}

